@media screen and (max-width: 480px) {
  .navbar-mobile .logo img {
    height: 25px;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: flex;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }
  .details table {
    margin: 0rem;
    display: block;
    overflow: auto;
  }

  .crypto_Price {
    padding: 10px;
  }
  .crypto_Price h5 {
    font-size: 17px;
    font-weight: 300;
  }
  .section-2 {
    display: block;
  }
  .section-2 .left {
    display: flex;
    justify-content: center;
  }
  .section-2 .left img {
    height: 260px;
  }
  .section-2 .right h4 {
    font-size: 23px;
  }
  .section-3 {
    display: block;
  }
  .section-3 .right {
    height: auto;
    width: auto;
  }
  .footer {
    display: block;
  }
  .footer-left img {
    height: 30px;
  }
  .footer-left h5 {
    width: auto;
    font-size: 16px;
  }
  .footer-right {
    gap: 2rem;
    margin: 2rem 0;
  }
  .section-3 .left h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 280px) {
  .navbar-mobile .logo img {
    height: 24px;
  }
  .footer {
    padding: 1rem;
  }
  .footer-right {
    gap: 1rem;
  }
  .footer-right h4 {
    font-size: 16px;
  }
  .footer-right a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .navbar .logo img {
    height: 25px;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: flex;
  }
  .crypto_Price p {
    font-size: 25px;
  }
  .details table {
    margin: 0rem;
    display: block;
    overflow: auto;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .details table {
    width: auto;
    margin: 0rem;
    overflow: auto;
  }
  .section-2 {
    display: block;
  }
  .section-2 .left img {
    height: 400px;
  }
  .section-2 .left {
    display: flex;
    justify-content: center;
  }
  .section-3 .left h4 {
    font-size: 27px;
  }
  .footer {
    display: block;
  }
  .footer-left img {
    height: 35px;
  }
  .footer-left h5 {
    width: auto;
  }
  .footer-right {
    margin: 2rem;
  }
}
@media only screen and (max-width: 986px) and (min-width: 769px) {
  .details table {
    margin: 0rem;
    display: block;
    overflow: auto;
  }
  .navbar .logo img {
    height: 25px;
  }
  .section-2 {
    display: block;
  }
  .section-2 .left {
    display: flex;
    justify-content: center;
  }
  .section-2 .left img {
    height: 500px;
  }
  .footer-left img {
    height: 40px;
  }
  .footer-left h5 {
    width: auto;
  }
}
